[Unit]
Description=HH Resume Dashboard Service
After=network.target

[Service]
Type=simple
User=[user]
WorkingDirectory=/home/[user]/autoupdate-hh-resume
Environment=HH_BASE_DIR=/home/[user]/autoupdate-hh-resume
ExecStart=/home/[user]/autoupdate-hh-resume/venv/bin/python /home/[user]/autoupdate-hh-resume/server.py
Restart=always

[Install]
WantedBy=multi-user.target
